body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 0.038em;
    color: #242121;
    background-color: #fff;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}


.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: calc(20px + 28 * (100vw / 1920));
    font-weight: 600;
    line-height: 1.17;
    color: #01353E;
    margin-bottom: 110px;
    display: inline-block;
    position: relative;
}

.title:after {
    content: '/';
    position: absolute;
    bottom: -29px;
    right: -47px;
    font-size: 71px;
    color: #00B2A0;
}

.animate-btn {
    display: inline-block;
    outline: transparent;
    text-transform: uppercase;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border: 1px solid #C4C4C4;
    padding: 23px 96px 21px;
    margin-bottom: 185px;
    font-size: 24px;
    font-weight: 400;
}
    .animate-btn::before {
        color: rgb(31, 29, 29);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, #08a6c2, #228d5b);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s cubic-bezier(1, 0.22, 0.49, 0.73);
    }
        .animate-btn:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
            .animate-btn:hover {
                color: #fff;
                transition: color 0.3s linear;
            }


.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: calc(100vw - 20px);
    padding: 48px 0 92px;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 79vh;
    position: relative;
}

.header__nav {
    margin: 0 auto auto;
}

.header__logo img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: -2%;
}

.menu__btn {
    display: none;
}

.menu {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 45px;
}

.menu__item .menu__link {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s linear;
}

.menu__item .menu__link:hover {
    border-color: #00B2A0;
}


.header__title {
    text-align: center;
    margin: -4.5% 0 auto;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.header__brand-name {
    display: block;
    padding-left: 43px;
    font-size: 200px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #0D302C;
}

.header__scroll-icon {
    background-image: url('../images/icon_scroll.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 22px;
    height: 68px;
    margin-bottom: -87px;
}

.school {
    padding: 189px 0;
}
.school__title {
    margin-bottom: 83px;
    padding-left: 170px;
}

.school__text {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 9em;
}

.school__text p {
    max-width: 480px;
}

.profit {
    text-align: center;  /*проверил, если убираю слетает влево тайтл и не только. Причину не смог выявить */
    padding: 200px 0 56px;
    background-color: #F8F8F8;
    padding-top: 196px;
}

.profit__title {
    margin-bottom: 97px;
}

.profit__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 160px;
}


.profit__descr p:first-child {
    margin-left: 17px;
} 

.profit__descr p {
    margin-top: 0; /*сбросил стандартный отступ <p>*/
    max-width: 350px;   
    text-align: left;
}

.profit__item-heading {
    font-size: 24px;
    font-weight: 400;
    max-width: 214px;
    padding-left: 51px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.profit__item-heading:before {
    position: absolute;
}


.profit--sun:before {
    content: '';
    background-image: url('../images/sun.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    top: -12px;
    left: -14px;
}

.profit--airplane:before {
    content: '';
    background-image: url('../images/plain.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 11px;
}

.profit--serf:before {
    content: '';
    background-image: url('../images/serf.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    top: 4px;
    left: 4px;
}

.profit__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    align-items: flex-start; 
}

.profit__progress-item {
    flex: none;
}

.profit__progress-bar {
    text-align: start;
}

.profit__progress-bar p {
    margin: 0 0 3px; /* снова сбрасываю стили, нулевыми значениями*/
}

.profit__progress-bar span {
    font-size: 24px;
    font-weight: 400;
}

.profit__progress-image {
    display: inline-block;
    width: 293px;
    margin-right: 10px;
}

.profit__text {
    text-align: start;
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 41px;
}

.profit__text p:first-child {
    margin-top: 0;
    margin-bottom: 31px;
}

.motivation {
    position: relative;
}

.motivation__bcg {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 81%;
    top: 0px;
    right: 0;
}

.motivation__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 197px 0 313px;
}

.motivation__title {
    margin-bottom: 89px;
}

.motivation__text p {
    max-width: 475px;
    margin-bottom: 30px;
}


.slick-dots li button:before {
    font-size: 60px;
    color: #fff;
    margin: 17px;
    position: absolute;
    top: -120px;
    left: -16px;
}

.slick-dots li.slick-active button:before {
    color: #00B2A0;
}

.gallery {
    text-align: center;
}

.gallery__title {
    margin-bottom: 208px;
}

.gallery__btns {
    display: flex;
    margin-bottom: 42px;
}

.gallery__btn {
    font-size: 24px;
    font-weight: 400;
    margin-right: 12px;
    outline: transparent;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    transition: color 0.3s linear;
    cursor: pointer;
}

.gallery__btn:hover {
    color: #00B2A0;
}

.mixitup-control-active {
    color: #00B2A0;
}

.gallery__items {
    text-align: start;
    margin: 0 auto 11px;
    max-width: 1280px;
    padding-left: 18px;
}

.gallery__item {
    display: inline-block;
    margin: 0 20px 35px;
    position: relative;
}

.gallery__item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.637);
    transition: opacity 0.4s linear;
    opacity: 0;
    z-index: 1;
}

.gallery__item:hover:before {
    opacity: 1;
}

.blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.13;
    padding: 88px 0;
    background-color: #F8F8F8;
    position: relative;
    left: -15px;
}

.blockquote__author {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    bottom: 33%;
    right: 27.3%;
}

.video__wrapper {
    padding: 195px 0 0;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    margin-bottom: 193px;
    position: relative;
    transition: all 0.1s linear;
    opacity: 0.9;   
}

.video:hover{
    opacity: 1;
}

.video__icon {
    opacity: 0.9;
    transition: opacity 0.4s linear 0s, transform 0.4s linear 0s;
}

.video
svg:hover {
    opacity: 1;
    transform: scale(1.1);
}

.stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    max-width: 690px;
}

.stats__title {
    display: block;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 5px;
}

.stats__text {
    text-align: center;
}

.blog {
    text-align: center;
    color: #fff;
    padding-bottom: 166px;
    padding-top: 193px;
}

.blog__title {
    text-align: center;
    margin-bottom: 234px;
}

.blog__slider {
    overflow: hidden;
}

.blog__slider-item {
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 800px;
}

.blog__slider-title {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    max-width: 600px;
}

.blog__slider-wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.blog__slider-descr {
    text-align: start;
    max-width: 600px;
    position: absolute;
    top: 22em;
    right: 1em;
}


.blog__slider-subtitle {
    margin-top: 0;
}

.team {
    text-align: center;
    margin-bottom: -4px;
    padding-bottom: 190px;
}

.team__title {
    margin-bottom: 211px;
    letter-spacing: 0.01em;
}

.team__wrapper {
    display: flex;
    justify-content: space-between;
}

.team__wrapper img {
    margin-bottom: 25px;
}

.team__name {
    font-size: 18px;
    font-weight: 700;
}

.team__position {
    font-weight: 400;
    margin-top: 0;
}

.services {
    padding: 200px 0 184px;
    background-color: #F8F8F8;
    text-align: center;
}

.services__title {
    font-size: 47px;
    margin-right: 53px;
    letter-spacing: 0.01em;
    margin-bottom: 220px;
}

.services__packages {
    display: flex;
    justify-content: space-between;
}

.services__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: all 0.3s linear;
    padding: 41px 0 45px;
    max-width: 360px;
    width: 100%;
}

.services__item:first-child {
    padding-left: 43px;
}

.services__item:nth-child(2) {
    padding-left: 31px;
}

.services__item:last-child {
    padding-left: 31px;
}

.services__item:hover {
    -webkit-box-shadow: 0px 0px 11px 5px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 0px 11px 5px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 0px 11px 5px rgba(34, 60, 80, 0.11);
}

.services__item-title {
    font-size: 36px;
    font-weight: 400;
    color: #01353E;
    margin:0 26px 58px 0 ;
}

.services__text li {
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.services__sum {
    font-size: 36px;
    font-weight: 400;
    color: #01353E;
    margin-right: 20px;
}

.services__item:first-child p {
    margin-top: 110px;
}

.services__sum span {
    font-size: 18px;
    font-weight: 400;
    color: inherit;
    vertical-align: middle;
    padding-left: 5px;
}

.map__img {
    object-fit: none;
}

.connection {
    text-align: center;
}

.connection__title {
    margin-bottom: 243px;
}

.connection__wrapper {
    display: flex;
    margin-bottom: 197px;
}

.connection__form {
    display: flex;
    flex-direction: column;
    min-width: 570px;
    margin-right: 31px;
    margin-top: -16px;
}

.connection__btn {
    max-height: 70px;
    max-width: 350px;
    margin: 0;
}

.connection__input,
.connection__textarea {
    border-color: transparent transparent;
    border-bottom: 2px solid #DADADA;
    outline: transparent;
    font-size: 20px;
    font-weight: 400;
}

.connection__form textarea,
.connection__textarea {
    margin-bottom: 72px;
    min-height: 156px;
    padding-top: 14px;
    padding-bottom: 91px;
    resize: none;
}

.connection__input::placeholder,
.connection__textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #00B2A0;
    max-width: 260px;
}

.connection__input[type=email] {
    margin-bottom: 28px;
    padding-top: 9px;
    padding-bottom: 15px;
}

.connection__input[type=tel] {
    margin-bottom: 50px;
    padding-bottom: 11px;
}

.connection__info {
    text-align: start;
    padding: 45px 0 8px 52px;
    background-color: #F8F8F8;
    max-width: 600px;
    width: 100%;
}

.connection__info-inner {
    margin-bottom: 60px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.connection__info-inner p {
    margin: 0;
}

.socials {
    padding-bottom: 197px;
    display: flex;
    justify-content: center;
}

.social__link {
    font-size: 24px;
    font-weight: 400;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s linear;
}

.social__link:hover {
    color: #00B2A0;
}

.footer {
    padding: 69px;
    background-color: #00B2A0;
    text-align: center;
}

.footer__logo {
    display: inline-block;
}

@media (max-width: 992px) {


    .school,
    .profit,
    .motivation__wrapper,
    .video__wrapper,
    .blog {
        padding: 90px 15px 50px;
    }
    
    .title {
        margin-bottom: 40px;
    }

    .title:after {
        font-size: calc(40px + (21 + 21 * 0.7) * ((100vw - 320px) / 1920));
        right: 8%;
        top: 14%;
    }

    .menu-item .menu-link  {
        font-size: 19px;
    }
    
    .menu__item:not(:last-child) {
        margin-right: 20px;
    }

    .header__brand-name {
        padding-left: 0;
        font-size: calc(60px + (100 + 100 * 0.7) * ((100vw - 320px) / 1230)); 
    }

    .header__title {
        font-size: 19px;
    }

    .header__scroll-icon {
        transform: scale(0.8);
    }

    .school__text  {
        grid-template-columns: 100%; 
        padding: 0 15px;
    }

    .school__text p {
        text-align: justify;
        min-width: 100%;
    }

    .school .school__title {
        display: block;
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
    }

    .profit__wrapper {
        margin-bottom: 40px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .profit__title:after {
        right: -6%;
    }

    .profit__progress-item {
        margin-bottom: 20px;
    }

    .motivation__bcg {
        display: none;
    }

    .motivation__wrapper {
        display: block;
        width: 100%;
    }

    .motivation__title {
        display: block;
    }

    .motivation__text p {
        max-width: 100%;
        padding: 0 15px;
    }

    .gallery__items {
        text-align: center;
    }

    .gallery__title:after {
        right: -18%;
    }

    .video {
        min-height: 400px;
        margin-bottom: 90px;
    }

    .blog__title:after {
        right: -29%;
    }

    .blog__slider {
        max-height: 400px;
    }

    .blog__slider-descr {
        top: 10em;
        left: 5em;
    }

    .blog__slider-title {
        font-size: 42px;
    }

}

@media (max-width: 720px) {

    .school,
    .profit,
    .motivation__wrapper,
    .video__wrapper,
    .blog {
        padding: 70px 15px 30px;
    }

    .header {
        padding-top: 30px;
        overflow: hidden;
    }
    .menu{
        flex-direction: column;
        background-color: rgba(2, 2, 2, 0.75);
        padding: 50px 30px 30px;
        position: absolute;
        right: -14px;        
        top: -11px;
        transform: translateX(110%);
        transition: all 0.2s linear;
    }

    .header__nav.header--active .menu{
        transform: translatex(0);
    }

    .menu__item:not(:last-child) {
        margin: 0 0 15px 0;
    }

    .menu__item {
        text-align: right;
    }

    .menu__item .menu__link {
        font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920));
        width: 100%;
        padding: 10px 50px;
        letter-spacing: 0.05em;
        text-align: right;
    }

    .menu__btn {
        display: block;
        background-color: transparent;
        outline: transparent;
        border: none;
        padding: 0;
        z-index: 2;
        position: absolute;
        top: 3.5%;
        right: 2%;
        
    }

    .header__nav.header--active .menu__btn path:first-child {
        transform-origin: center;
        transform: rotate(-46deg)translatey(4px);
        transition: all 0.4s linear;
    }

    .header__nav.header--active .menu__btn path:nth-child(2) {
        display: none;
    } 

    .header__nav.header--active .menu__btn rect {
        transform-origin: center;
        transform: rotate(47deg)translatey(-4px);
        transition: all 0.4s linear;
    }

    .header__title {
        font-size: 17px;
    }

    .header__scroll-icon {
        transform: scale(0.7);
        margin-bottom: 10px;
    }

    .gallery__btn {
        font-size: 18px;
    }

    .animate-btn {
        font-size: 20px;
        padding: 20px 50px 20px;
    }

    .animate-btn {
        margin-bottom: 90px;
    }
    
    .blockquote {
        font-size: 28px;
    }
    
    .blockquote__author {
        bottom: 28%;
        right: 5.3%;
    }

    .stats {
        flex-wrap: wrap;
        padding: 0 30px;
        column-gap: 20px;
        justify-content: center;
    }

    .stats__title {
        font-size: 46px;
    }

    .blog__slider-descr {
        left: 3em;
        top: 10em;
    }

    .blog__slider-title {
        font-size: 36px;
    }

}
@media (max-width: 320px) {

    .profit__text,
    .motivation__text,
    .school__text p {
        font-size: 16px;
    }

    .header__title {
        font-size: 14px;
        margin: 2% 0 auto;
    }

    .school__text {
        background-color: rgb(251, 251, 251);
        max-height: 50vh;
        overflow: auto;
    }

    .school__text::-webkit-scrollbar {
        width: 5px;
    }

    .school__text::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .school__text::-webkit-scrollbar-thumb {
        background: #888;
    }

    .profit__progress-bar span {
        display: block;
    }

    .school__title:after {
        right: 21%;
        top: 67%;
    }

    .motivation__title:after {
        right: 0;
    }

    .profit__title:after {
        right: 15%;
        top: 49%;
    }

    .gallery__btns {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .gallery__btns li{
        width: 50%;
        margin-bottom: 15px;
    }

    .animate-btn {
        font-size: 18px;
        padding: 15px 26px 15px;
        margin-bottom: 60px;
    }

    .blockquote__author {
        bottom: 19%;
        right: 5.3%;
    }

    .video {
        min-height: 200px;
        margin-bottom: 40px;
    }

    .video__icon {
        width: 50px;
    }

    .blog__slider {
        max-height: 250px;
    }
}