body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 0.038em;
    color: #242121;
    background-color: #fff;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}


.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: calc(20px + 28 * (100vw / 1920));
    font-weight: 600;
    line-height: 1.2;
    color: #01353E;
    margin-bottom: 110px;
    padding: 0 10px;
    position: relative;
}

.title::after {
    content: '/';
    position: absolute;
    bottom: -29px;
    font-size: 71px;
    color: #00B2A0;
}

.animate-btn {
    display: inline-block;
    outline: transparent;
    text-transform: uppercase;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border: 1px solid #C4C4C4;
    padding: 23px 96px 21px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.animate-btn::before {
    color: rgb(31, 29, 29);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #08a6c2, #228d5b);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s cubic-bezier(1, 0.22, 0.49, 0.73) 0.2s;
}

.animate-btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: calc(100vw - 20px);
    padding: 48px 0 92px;
    overflow: hidden;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 79vh;
    position: relative;
}

.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    right: 0;
    display: flex;
    align-items: center;
    min-height: 128px;
    padding-right: 30px;
}

.logo {
    width: 60px;
    height: 60px;
}

.header__logo {
    position: absolute;
    left: 19%;
    top: 25%;
    z-index: 9;
}

.menu__btn {
    display: none;
}

.menu {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 40px;
}

.menu__link {
    font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920));
    font-weight: 400;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s linear;
}

.menu__link:hover {
    border-color: #00B2A0;
}


.header__title {
    text-align: center;
    margin: auto 0;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.header__brand-name {
    display: block;
    padding-left: 43px;
    font-size: 200px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #0D302C;
}

.header__scroll-icon {
    background-image: url('../images/icon_scroll.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 22px;
    height: 68px;
    margin-bottom: -87px;
}

.school {
    padding: 189px 0;
}

.school__title {
    margin-bottom: 83px;
}

.school__text {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 9em;
}

.school__text p {
    max-width: 480px;
}

.profit {
    padding: 194px 0 38px;
    background-color: #F8F8F8;
}

.profit__title {
    margin-bottom: 97px;
}

.profit__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 160px;
}

.profit__descr p {
    max-width: 350px;
}

.profit__heading {
    font-size: 24px;
    font-weight: 400;
    max-width: 214px;
    padding-left: 64px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.profit__heading:before {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
}


.profit__heading--sun:before {
    background-image: url('../images/sun.svg');
    top: -7px;
    left: -5px;
}

.profit__heading--airplane:before {
    background-image: url('../images/plain.svg');
    top: 5px;
    left: 11px;
}

.profit__heading--serf:before {
    background-image: url('../images/serf.svg');
    top: 4px;
    left: 4px;
}

.profit__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    align-items: flex-start;
}

.profit__progress-item {
    flex: none;
}

.profit__score {
    font-size: 24px;
    font-weight: 400;
}

.profit__progress-image {
    display: inline-block;
    width: 293px;
    margin-right: 10px;
}

.profit__text {
    text-align: start;
    max-width: 600px;
    margin-bottom: 41px;
}

.profit__text p:first-child {
    margin-bottom: 31px;
}

.motivation {
    position: relative;
}

.motivation__bcg {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 81%;
    top: 0;
    right: 0;
}

.motivation__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 197px 0 313px;
}

.motivation__title {
    margin-bottom: 89px;
}

.motivation__text p {
    max-width: 475px;
    margin-bottom: 30px;
}

.gallery {
    padding-bottom: 195px;
}

.gallery__title {
    margin-bottom: 208px;
}

.gallery__btns {
    display: flex;
    margin: 0 0 42px 15px;
}

.gallery__btn {
    font-size: 24px;
    font-weight: 400;
    margin-right: 12px;
    outline: transparent;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    transition: color 0.3s linear;
    cursor: pointer;
}

.mixitup-control-active,
.gallery__btn:hover {
    color: #00B2A0;
}

.gallery__more-btn {
    margin: 0 auto;
    display: block;
}

.gallery__items {
    margin-bottom: 45px;
}

.gallery__item {
    display: inline-block;
    margin: 0 12px 18px;
    position: relative;
}

.gallery__item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.637);
    transition: opacity 0.4s linear;
    opacity: 0;
    z-index: 1;
}

.gallery__item:hover:before {
    opacity: 1;
}

.blockquote-wrapper {
    background-color: #F8F8F8;
}

.blockquote-wrapper__quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.13;
    padding: 80px 0 83px;
    text-align: center;
    max-width: 835px;
    display: block;
    margin: 0 auto;
}

.blockquote-wrapper__author {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    display: block;
    text-align: right;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    margin: 195px 0 200px;
    position: relative;
    transition: opacity 0.1s linear;
    opacity: 0.9;
}

.video:hover {
    opacity: 1;
}

.video__icon {
    opacity: 0.9;
    transition: opacity 0.4s linear 0s, transform 0.4s linear 0s;
}

.video svg:hover {
    opacity: 1;
    transform: scale(1.1);
}

.stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    max-width: 690px;
}

.stats__title {
    display: block;
    font-size: 64px;
    font-weight: 700;
}

.stats__text {
    text-align: center;
}

.blog {
    text-align: center;
    color: #fff;
    padding: 195px 0;
}

.blog__title {
    margin-bottom: 234px;
}

.blog__slider {
    overflow: hidden;
}

.blog__slider-item {
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 800px;
    position: relative;
}

.blog__slider-wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    /*Не сделал контейнером потому что у него боковые падинги, и пришлось бы обращаться к нему через nth-child что бы сбросить их. Если же оставить его без изменений по pixel perfect не сойдеться*/
}

.blog__slider-descr {
    text-align: start;
    width: 600px;
    position: absolute;
    right: 19%;
    top: 38%;
    /*не смог сделать по другому. Потому что етот блок не хочет ни в какую принимать высоту родителя*/
}

.blog__slider-title {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    max-width: 600px;
}

.slick-dots {
    display: flex;
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 285px;
    margin-left: -142px;

}

.slick-dots li button {
    background-color: #CCC;
    border: none;
    border-radius: 50%;
    font-size: 0;
    width: 15px;
    height: 15px;
    outline: transparent;
    cursor: pointer;
}

.slick-dots li button:hover {
    background-color: #919998;
    ;
}

.slick-dots li+li {
    margin-left: 15px;
}

.slick-dots .slick-active button {
    background-color: #00B2A0;
}

.team {
    padding-bottom: 195px;
}

.team__title {
    margin-bottom: 211px;
    letter-spacing: 0.01em;
}

.services__packages,
.team__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.team__wrapper img {
    margin-bottom: 25px;
}

.team__person {
    text-align: center;
}

.team__name {
    font-size: 18px;
    font-weight: 700;
}

.team__position {
    font-weight: 400;
}

.services {
    padding: 200px 0 184px;
    background-color: #F8F8F8;
}

.services__title {
    letter-spacing: 0.01em;
    margin-bottom: 220px;
}

.services__packages {
    display: flex;
    justify-content: space-between;
}

.services__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: all 0.3s linear;
    padding: 45px 30px;
    max-width: 360px;
    width: 100%;
}

.services__item:hover {
    box-shadow: 0 0 11px 5px rgba(34, 60, 80, 0.11);
}

.services__item-title {
    font-size: 36px;
    font-weight: 400;
    color: #01353E;
    margin-bottom: 58px;
    text-align: center;
}

.services__text {
    margin-bottom: auto;
}

.services__text li {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.services__sum {
    font-size: 36px;
    font-weight: 400;
    color: #01353E;
    text-align: center;
}

.services__sum span {
    font-size: 18px;
    font-weight: 400;
    color: inherit;
    vertical-align: middle;
    padding-left: 5px;
}


.map {
    margin-bottom: 100px;
    object-fit: none;
}

.connection__title {
    margin-bottom: 243px;
}

.connection__wrapper {
    display: flex;
    margin-bottom: 197px;
}

.connection__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 31px;
}

.connection__btn {
    margin-top: auto;
    max-width: 350px;
}

.connection__input,
.connection__textarea {
    border-color: transparent transparent;
    border-bottom: 2px solid #DADADA;
    outline: transparent;
    font-size: 20px;
    font-weight: 400;
}

.connection__input:focus,
.connection__textarea:focus {
    border-bottom: 2px solid #00000085;
}

.connection__form textarea,
.connection__textarea {
    margin-bottom: 72px;
    min-height: 156px;
    padding-top: 14px;
    resize: none;
}

.connection__input::placeholder,
.connection__textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #00B2A0;
    max-width: 260px;
}

#name {
    margin-bottom: 28px;
    padding-top: 9px;
    padding-bottom: 15px;
}

#phone {
    margin-bottom: 50px;
    padding-bottom: 11px;
}

label {
    visibility: hidden;
}

.connection__info {
    text-align: start;
    padding: 45px 200px 8px 52px;
    background-color: #F8F8F8;
    max-width: 600px;
    width: 100%;
}

.connection__info-inner {
    margin-bottom: 60px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    transition: color 0.2s linear;
    cursor: pointer;
}

.socials__link:hover,
.connection__info-inner:hover {
    color: #00B2A0;
}

.socials {
    margin-bottom: 197px;
    display: flex;
    justify-content: center;
}

.socials__link {
    font-size: 24px;
    font-weight: 400;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s linear;
}

.footer {
    padding: 69px;
    background-color: #00B2A0;
    text-align: center;
}

.footer__logo {
    display: inline-block;
}

@media (max-width: 1420px) {

    .header__logo {
        left: 5%;
    }
}

@media (max-width: 1024px) {

    .services,
    .school,
    .profit,
    .motivation__wrapper,
    .video__wrapper,
    .blog {
        padding: 90px 15px 90px;
    }

    .connection__wrapper,
    .team,
    .gallery {
        padding-bottom: 120px;
    }

    .header__logo {
        left: 4%;
        top: 6%;
    }

    .header__nav {
        min-height: 70vh;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-height: 500px;
        background-color: rgba(2, 2, 2, 0.75);
        padding: 50px 30px 30px;
        position: absolute;
        right: -14px;
        left: -20px;
        top: 0;
        bottom: 30%;
        transform: translatey(-200%);
        transition: all 0.3s linear;
        z-index: 3;
    }

    .header__nav.header--active .menu {
        transform: translatey(0);
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }


    .menu__link {
        font-size: 19px;
        padding: 0 300px;
    }

    .menu__link {
        display: block;
        text-align: right;
        font-size: calc(20px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
        width: 100%;
        letter-spacing: 0.05em;
    }

    .menu__btn {
        display: block;
        background-color: transparent;
        outline: transparent;
        border: none;
        padding: 0;
        z-index: 4;
        position: absolute;
        top: 8%;
        right: 4%;
    }

    path,
    rect {
        transform-origin: center;
        transition: all 0.3s linear;
    }

    .header--active .menu__btn path:first-child {
        transform: rotate(-46deg)translatey(4px);
    }

    .header--active .menu__btn path:nth-child(2) {
        opacity: 0;
    }

    .header--active .menu__btn rect {
        transform: rotate(47deg)translatey(-4px);
    }

    .header__title {
        font-size: 21px;
    }

    .header__scroll-icon {
        transform: scale(0.7);
        margin-bottom: 10px;
    }

    .title {
        margin-bottom: 55px;
    }

    .title::after {
        font-size: 43px;
        bottom: -21px;
    }

    .header__brand-name {
        padding-left: 0;
        font-size: calc(60px + (100 + 100 * 0.7) * ((100vw - 320px) / 1230));
    }

    .header__title {
        font-size: 19px;
    }

    .header__scroll-icon {
        transform: scale(0.8);
    }

    .school__text {
        grid-template-columns: 100%;
        padding: 0 15px;
    }

    .school__text p {
        min-width: 100%;
    }

    .school .school__title {
        display: block;
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
    }

    .profit__wrapper {
        margin-bottom: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .profit__item {
        margin-bottom: 35px;
    }

    .profit__progress-item {
        margin-bottom: 32px;
    }

    .motivation__bcg {
        display: none;
    }

    .motivation__wrapper {
        display: block;
        width: 100%;
    }

    .motivation__title {
        display: block;
    }

    .motivation__text p {
        max-width: 100%;
        padding: 0 15px;
    }

    .gallery__btns {
        justify-content: center;
    }

    .gallery__items {
        text-align: center;
    }

    .video {
        min-height: 378px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .blog__slider {
        max-height: 400px;
    }

    .blog__slider-descr {
        top: 7em;
        left: 5em;
    }

    .blog__slider-title {
        font-size: 42px;
    }

    .slick-dots {
        right: 30%;
        bottom: 50px;
    }

    .blog__slider-item {
        min-height: 600px;
    }

    .services__packages {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__item {
        margin-bottom: 20px;
        text-align: center;
    }

    .connection__wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .connection__form {
        padding: 0 15px;
    }

    .connection__btn {
        margin: 0 auto;
        margin-bottom: 90px;
    }

    .socials {
        /* padding-bottom: 120px; */
        margin-bottom: 120px;
    }

}

@media (max-width: 720px) {


    body {
        font-size: 16px;
        line-height: 1.5;
    }

    .services,
    .school,
    .profit,
    .motivation__wrapper,
    .video__wrapper,
    .blog {
        padding: 70px 15px 60px;
    }

    .connection__wrapper,
    .team,
    .gallery {
        padding-bottom: 30px;
    }

    .header {
        padding-top: 30px;
        overflow: hidden;
    }

    .menu {
        bottom: 0%;
    }

    .menu__link {
        padding: 0 150px;
    }

    .gallery__btn {
        font-size: 18px;
    }

    .blockquote {
        font-size: 28px;
    }

    .blockquote__author {
        bottom: 28%;
        right: 5.3%;
    }

    .stats {
        flex-wrap: wrap;
        padding: 0 30px;
        justify-content: space-around;
    }

    .stats__item {
        min-width: 50%;
    }

    .stats__title {
        font-size: 46px;
    }

    .slick-dots {
        right: 30%;
        margin-left: -110px;
    }

    .slick-dots li button {
        width: 10px;
        height: 12px;
    }

    .slick-dots li+li {
        margin-left: 10px;
    }

    .blog__slider-item {
        min-height: 500px;
    }

    .blog__slider-title {
        font-size: 25px;
    }

    .blog__slider-descr {
        width: 350px;
    }

    .services__packages,
    .team__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__item,
    .team__person {
        margin-bottom: 40px;
        text-align: center;
    }

    .map {
        margin-bottom: 50px;
    }

    .connection__form {
        flex-shrink: 0;
    }

    .team__wrapper img {
        margin-bottom: 10px;
    }

}

@media (max-width: 568px) {


    .services,
    .school,
    .profit,
    .motivation__wrapper,
    .video__wrapper,
    .blog {
        padding: 45px 10px 55px;
    }

    .profit__text,
    .motivation__text,
    .school__text p {
        font-size: 16px;
    }

    .animate-btn {
        padding-left: 60px;
        padding-right: 60px;
    }

    .menu__link {
        padding: 0 100px;
    }

    .header__title {
        font-size: 18px;
        margin: auto 0;
    }

    .menu {
        top: -7px;
    }

    .school__text {
        background-color: rgb(251, 251, 251);
        max-height: 50vh;
        overflow: auto;
    }

    .school__text::-webkit-scrollbar {
        width: 5px;
    }

    .school__text::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .school__text::-webkit-scrollbar-thumb {
        background: #888;
    }

    .profit__wrapper,
    .profit__text {
        margin-bottom: 0;
    }

    .profit__progress-bar {
        padding-left: 40px;
    }

    .profit__progress-bar span {
        display: block;
    }

    .gallery {
        padding-bottom: 0;
    }

    .gallery__btns {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .animate-btn {
        font-size: 18px;
    }

    .gallery__btns li {
        width: 50%;
        margin-bottom: 15px;
    }

    .blockquote__author {
        bottom: 19%;
        right: 5.3%;
    }

    .stats__title {
        font-size: 39px;
    }

    .video {
        margin-top: 50px;
        min-height: 200px;
        margin-bottom: 40px;
    }

    .video__icon {
        width: 50px;
    }

    .blog__slider-item {
        min-height: 300px;
    }

    .slick-dots {
        right: 16%;
    }

    .blog__slider-descr {
        width: 250px;
        top: 20%;
        left: 13%;
    }

    .blog__slider-title {
        font-size: 21px;
    }

    .blockquote-wrapper__quote {
        margin-top: 60px;
        font-size: 18px;
        max-width: 290px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .connection__info {
        padding: 0px 30px 0px 40px;
    }

    .connection__info-inner {
        margin-bottom: 20px;
    }

    .connection__form .connection__textarea {
        margin-bottom: 40px;
    }

    .connection__btn {
        margin-bottom: 60px;
    }

    .socials {
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding: 30px 0;
    }
}